@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1106px;
  margin: 0 auto;
}

body {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  background: #FFFFFF;
  z-index: 9999;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 0;
}
@media (max-width: 1170px) {
  .header__container {
    padding: 34px 65px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .header__container {
    padding: 34px 30px;
  }
}
@media (max-width: 576px) {
  .header__container {
    padding: 34px 20px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 58px;
}
@media (max-width: 690px) {
  .header__nav {
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .header__nav {
    gap: 20%;
  }
}
@media (max-width: 426px) {
  .header__nav {
    gap: 125%;
  }
}
@media (max-width: 376px) {
  .header__nav {
    gap: 100%;
  }
}
@media (max-width: 320px) {
  .header__nav {
    gap: 75%;
  }
}
@media (max-width: 290px) {
  .header__nav {
    gap: 50%;
  }
}

.desktop-logo {
  display: block;
}
@media (max-width: 426px) {
  .desktop-logo {
    display: none;
  }
}

.mobile-logo {
  display: none;
}
@media (max-width: 426px) {
  .mobile-logo {
    display: block;
  }
}

.header__nav_list {
  display: flex;
  gap: 32px;
}
@media (max-width: 645px) {
  .header__nav_list {
    gap: 20px;
  }
}
@media (max-width: 426px) {
  .header__nav_list {
    display: none;
  }
}
@media (max-width: 426px) {
  .header__nav_list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
    background: #333A44;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
}

.header__menu {
  display: none;
}
@media (max-width: 426px) {
  .header__menu {
    display: block;
  }
}
.header__menu .burger {
  color: #FCB72B;
}
.header__menu .plus {
  display: none;
  color: #FCB72B;
  transform: rotate(-45deg);
}

.menu {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.menu:checked ~ .header__nav_list {
  transform: translateX(0);
}
.menu:checked ~ .header__menu .burger {
  display: none;
}
.menu:checked ~ .header__menu .plus {
  display: block;
}

.header__nav_List_items a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
@media (max-width: 645px) {
  .header__nav_List_items a {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .header__nav_List_items a {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #E5ECF4;
  }
}

.header__items_btn a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
  transition: all 0.3s ease;
  display: none;
  text-align: center;
}
.header__items_btn a:hover {
  background: #FFFFFF;
  color: #FCB72B;
}
@media (max-width: 426px) {
  .header__items_btn a {
    display: block;
    margin-top: 90%;
  }
}
@media (max-width: 366px) {
  .header__items_btn a {
    padding: 10px 20px;
    font-size: 13px;
  }
}
@media (max-width: 291px) {
  .header__items_btn a {
    padding: 5px 10px;
    font-size: 9;
  }
}
@media (max-width: 261px) {
  .header__items_btn a {
    padding: 1px 5px;
    font-size: 6;
  }
}

.header__btn a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
  transition: all 0.3s ease;
}
.header__btn a:hover {
  background: #FFFFFF;
  color: #FCB72B;
}
@media (max-width: 645px) {
  .header__btn a {
    font-size: 11;
    padding: 10px 25px;
  }
}
@media (max-width: 580px) {
  .header__btn a {
    padding: 10px 20px;
  }
}
@media (max-width: 576px) {
  .header__btn a {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */