@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1106px;
  margin: 0 auto;
}

body {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.header {
  position: fixed;
  width: 100%;
  background: #FFFFFF;
  z-index: 9999;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 0;
}
@media (max-width: 1170px) {
  .header__container {
    padding: 34px 65px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .header__container {
    padding: 34px 30px;
  }
}
@media (max-width: 576px) {
  .header__container {
    padding: 34px 20px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 58px;
}
@media (max-width: 691px) {
  .header__nav {
    gap: 25px;
  }
}
@media (max-width: 576px) {
  .header__nav {
    gap: 20%;
  }
}
@media (max-width: 426px) {
  .header__nav {
    gap: 125%;
  }
}
@media (max-width: 376px) {
  .header__nav {
    gap: 100%;
  }
}
@media (max-width: 320px) {
  .header__nav {
    gap: 75%;
  }
}
@media (max-width: 290px) {
  .header__nav {
    gap: 50%;
  }
}

.desktop-logo {
  display: block;
}
@media (max-width: 426px) {
  .desktop-logo {
    display: none;
  }
}

.mobile-logo {
  display: none;
}
@media (max-width: 426px) {
  .mobile-logo {
    display: block;
  }
}

.header__nav_list {
  display: flex;
  gap: 32px;
}
@media (max-width: 645px) {
  .header__nav_list {
    gap: 20px;
  }
}
@media (max-width: 426px) {
  .header__nav_list {
    display: none;
  }
}
@media (max-width: 426px) {
  .header__nav_list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    padding: 64px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
    background: #333A44;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
}

.header__menu {
  display: none;
}
@media (max-width: 426px) {
  .header__menu {
    display: block;
  }
}
.header__menu .burger {
  color: #FCB72B;
}
.header__menu .plus {
  display: none;
  color: #FCB72B;
}

.menu {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all 0.5s ease;
}
.menu:checked ~ .header__nav_list {
  transform: translateX(0);
}
.menu:checked ~ .header__menu .burger {
  display: none;
}
.menu:checked ~ .header__menu .plus {
  display: block;
  transform: rotate(-45deg);
}

.header__nav_List_items a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
@media (max-width: 645px) {
  .header__nav_List_items a {
    font-size: 12px;
  }
}
@media (max-width: 426px) {
  .header__nav_List_items a {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #E5ECF4;
  }
}

.header__items_btn a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
  display: none;
  text-align: center;
}
.header__items_btn a:hover {
  background: transparent;
  color: #FCB72B;
}
@media (max-width: 426px) {
  .header__items_btn a {
    display: block;
    margin-top: 90%;
  }
}
@media (max-width: 366px) {
  .header__items_btn a {
    padding: 10px 20px;
    font-size: 13px;
  }
}
@media (max-width: 291px) {
  .header__items_btn a {
    padding: 5px 10px;
    font-size: 9;
  }
}
@media (max-width: 261px) {
  .header__items_btn a {
    padding: 1px 5px;
    font-size: 6;
  }
}

.header__btn a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
}
.header__btn a:hover {
  background: transparent;
  color: #FCB72B;
}
@media (max-width: 657px) {
  .header__btn a {
    padding: 12px 30px;
  }
}
@media (max-width: 645px) {
  .header__btn a {
    font-size: 11;
    padding: 10px 25px;
  }
}
@media (max-width: 580px) {
  .header__btn a {
    padding: 10px 20px;
  }
}
@media (max-width: 576px) {
  .header__btn a {
    display: none;
  }
}

main {
  padding-top: 96px;
}

.intro {
  background-image: url("../images/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .section1__banner {
    background-image: url(../images/intro-bg@2x.jpg);
  }
}
@media (max-width: 1170px) {
  .intro__container {
    padding: 0 65px;
  }
}
@media (max-width: 768px) {
  .intro__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.intro__bg-line1 {
  background-image: url("../images/intro-line1.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 1px top 190px;
}
@media (max-width: 768px) {
  .intro__bg-line1 {
    background-image: none;
  }
}

.intro__bg-line2 {
  background-image: url("../../images/intro-line2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 300px top 343px;
}
@media (max-width: 768px) {
  .intro__bg-line2 {
    background-position: left -100px top 500px;
  }
}
@media (max-width: 578px) {
  .intro__bg-line2 {
    background-position: left -150px top 410px;
  }
}
@media (max-width: 453px) {
  .intro__bg-line2 {
    background-position: left -200px top 450px;
  }
}
@media (max-width: 406px) {
  .intro__bg-line2 {
    background-position: left -200px top 499px;
  }
}
@media (max-width: 389px) {
  .intro__bg-line2 {
    background-position: right 210px top 530px;
  }
}

.intro__bg-line2 {
  padding: 153px 0;
}
@media (max-width: 768px) {
  .intro__bg-line2 {
    padding-bottom: 217px;
  }
}
@media (max-width: 578px) {
  .intro__bg-line2 {
    padding: 115px 0;
  }
}

.intro__container > h2 {
  font-weight: 700;
  max-width: 500px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .intro__container > h2 {
    text-align: center;
  }
}
@media (max-width: 578px) {
  .intro__container > h2 {
    font-size: 35px;
  }
}

.intro__p_btn {
  margin-left: 90px;
}
@media (max-width: 768px) {
  .intro__p_btn {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro__p_btn > p {
  font-family: "Lexend Deca";
  font-style: normal;
  max-width: 405px;
  margin: 40px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .intro__p_btn > p {
    text-align: center;
  }
}
@media (max-width: 578px) {
  .intro__p_btn > p {
    font-size: 13px;
  }
}

.intro__p_btn > a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
  max-width: 190px;
}
.intro__p_btn > a:hover {
  background: transparent;
  color: #FCB72B;
}

.instructions {
  position: relative;
  padding: 160px 0;
  z-index: -1;
}

.instructions__mobile_line {
  background-image: url("../images/instructions-lin2.png");
}

.instructions__line {
  position: absolute;
  top: 200px;
  left: o;
  width: 974px;
  height: 15px;
  z-index: -1;
  border: none;
  background-color: #E5ECF4;
}
@media (max-width: 1350px) {
  .instructions__line {
    width: 879px;
  }
}
@media (max-width: 1170px) {
  .instructions__line {
    width: 769px;
  }
}
@media (max-width: 1015px) {
  .instructions__line {
    width: 674px;
  }
}
@media (max-width: 895px) {
  .instructions__line {
    display: none;
  }
}

.instructions__line2 {
  display: none;
  z-index: -1;
  width: 15px;
  height: 650px;
  border: none;
  background-color: #E5ECF4;
  top: 0;
  left: 111px;
}
@media (max-width: 895px) {
  .instructions__line2 {
    display: block;
    position: absolute;
  }
}
@media (max-width: 688px) {
  .instructions__line2 {
    height: 755px;
  }
}
@media (max-width: 540px) {
  .instructions__line2 {
    left: 80px;
  }
}
@media (max-width: 501px) {
  .instructions__line2 {
    height: 855px;
  }
}
@media (max-width: 464px) {
  .instructions__line2 {
    height: 933px;
  }
}
@media (max-width: 426px) {
  .instructions__line2 {
    display: none;
  }
}

.instructions__list {
  display: flex;
  gap: 30px;
}
@media (max-width: 1170px) {
  .instructions__list {
    padding: 0 70px;
  }
}
@media (max-width: 895px) {
  .instructions__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  .instructions__list {
    padding: 0 40px;
  }
}

@media (max-width: 895px) {
  .instructions__list_items {
    display: flex;
    gap: 79px;
    align-items: center;
  }
}
@media (max-width: 426px) {
  .instructions__list_items {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

.instructions__icon1 {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #FCB72B;
  background-image: url("../images/instructions-icon1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instructions__icon2 {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #FCB72B;
  background-image: url("../images/instructions-icon2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instructions__icon3 {
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #FCB72B;
  background-image: url("../images/instructions-icon3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instructions__list_items h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-top: 40px;
  margin-bottom: 27px;
}
@media (max-width: 426px) {
  .instructions__list_items h3 {
    text-align: center;
  }
}

.instructions__list_items p {
  font-family: "Lexend Deca";
  font-style: normal;
  max-width: 350px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
@media (max-width: 895px) {
  .instructions__list_items p {
    max-width: 398px;
  }
}
@media (max-width: 426px) {
  .instructions__list_items p {
    text-align: center;
  }
}

.info {
  overflow: hidden;
  padding-bottom: 100px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.info__list_items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/info-line.png");
  background-repeat: no-repeat;
  background-position: right -180px bottom;
}
.info__list_items::after {
  content: "";
  position: absolute;
  right: -50%;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  z-index: -1;
  flex-shrink: 0;
  background: #E5ECF4;
}
@media (max-width: 1400px) {
  .info__list_items::after {
    right: -45%;
  }
}
@media (max-width: 1290px) {
  .info__list_items::after {
    right: -43%;
  }
}
@media (max-width: 1170px) {
  .info__list_items::after {
    right: -37%;
  }
}
@media (max-width: 1113px) {
  .info__list_items::after {
    display: none;
  }
}
@media (max-width: 1170px) {
  .info__list_items {
    padding: 0 50px;
  }
}
@media (max-width: 855px) {
  .info__list_items {
    flex-direction: column-reverse;
    gap: 56px;
    background-position: right -350px top 200px;
  }
}
@media (max-width: 414px) {
  .info__list_items {
    background-position: right -450px top 200px;
  }
}

.info__list_items-reverse {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-image: url("../images/info-second-line.png");
  background-repeat: no-repeat;
  background-position: left -500px top;
}
.info__list_items-reverse::before {
  content: "";
  position: absolute;
  left: -50%;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  z-index: -1;
  flex-shrink: 0;
  background: #E5ECF4;
}
@media (max-width: 1113px) {
  .info__list_items-reverse::before {
    display: none;
  }
}
@media (max-width: 855px) {
  .info__list_items-reverse {
    flex-direction: column-reverse;
    gap: 56px;
    background-position: right 250px top 200px;
  }
}
@media (max-width: 414px) {
  .info__list_items-reverse {
    background-position: right 150px top 200px;
  }
}

.info__images {
  z-index: -1;
}

.info__images > img {
  border-radius: 50%;
}

@media (max-width: 855px) {
  .info__list_items_h {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__list_items_h > h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  max-width: 445px;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media (max-width: 855px) {
  .info__list_items_h > h3 {
    text-align: center;
  }
}
@media (max-width: 486px) {
  .info__list_items_h > h3 {
    font-size: 32px;
  }
}

.info__list_items_h > p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 60px;
  max-width: 445px;
  color: #939CAA;
}
@media (max-width: 855px) {
  .info__list_items_h > p {
    text-align: center;
  }
}
@media (max-width: 486px) {
  .info__list_items_h > p {
    font-size: 13px;
  }
}

.info__list_items_h > a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  padding: 14px 39px;
  border: 3px solid #FCB72B;
  color: #FFFFFF;
  background: #FCB72B;
  max-width: 180px;
}
.info__list_items_h > a:hover {
  background: transparent;
  color: #FCB72B;
}

.apps {
  margin-top: 200px;
  background-image: url("../images/apps-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .apps .section1__banner {
    background-image: url(../images/apps-bg@2x.jpg);
  }
}

.apps__container {
  padding: 102px 0;
}
@media (max-width: 1170px) {
  .apps__container {
    padding: 102px 50px;
  }
}

.apps__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 878px) {
  .apps__container {
    flex-direction: column;
    gap: 40px;
  }
}

.apps__container > h4 {
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  max-width: 415px;
  color: #FFFFFF;
}
@media (max-width: 878px) {
  .apps__container > h4 {
    text-align: center;
    max-width: 457px;
  }
}
@media (max-width: 426px) {
  .apps__container > h4 {
    font-size: 32px;
    max-width: 311px;
  }
}

.apps__store {
  display: flex;
  gap: 18px;
}

.googleplay {
  width: 159px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .googleplay {
    width: 114px;
  }
}

.appstore {
  width: 182px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .appstore {
    width: 130px;
  }
}

footer {
  background: #333A44;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
@media (max-width: 1170px) {
  .footer__container {
    padding: 35px 60px;
  }
}
@media (max-width: 620px) {
  .footer__container {
    flex-direction: column;
    gap: 87px;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 59px;
}
@media (max-width: 675px) {
  .footer__nav {
    gap: 30px;
  }
}
@media (max-width: 620px) {
  .footer__nav {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__nav_list {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 675px) {
  .footer__nav_list {
    gap: 25px;
  }
}
@media (max-width: 620px) {
  .footer__nav_list {
    flex-direction: column;
    gap: 16px;
  }
}

.footer__nav_list > a {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}
@media (max-width: 700px) {
  .footer__nav_list > a {
    font-size: 13px;
  }
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 24px;
}/*# sourceMappingURL=main.css.map */