.instructions {
    position: relative;
    padding: 160px 0;
    z-index: -1;
}

.instructions__mobile_line {
    background-image: url("../images/instructions-lin2.png");
}


.instructions__line {
    // display: none;

    position: absolute;
    top: 200px;
    left: o;
    width: 974px;
    height: 15px;
    z-index: -1;
    border: none;
    background-color: #E5ECF4;

    @include maxwidth(1350px) {
        width: 879px;
    }

    @include maxwidth(1170px) {
        width: 769px;
    }

    @include maxwidth(1015px) {
        width: 674px;
    }

    @include maxwidth(895px) {
        display: none;
    }
}

.instructions__line2 {
    display: none;
    z-index: -1;
    width: 15px;
    height: 650px;
    border: none;
    background-color: #E5ECF4;
    top: 0;
    left: 111px;

    @include maxwidth(895px) {
        display: block;
        position: absolute;
    }

    @include maxwidth(688px) {
        height: 755px;
    }

    @include maxwidth(540px) {
        left: 80px;
    }

    @include maxwidth(501px) {
        height: 855px;
    }

    @include maxwidth(464px) {
        height: 933px;
    }

    @include maxwidth(426px) {
        display: none;
    }
}

.instructions__list {
    display: flex;
    gap: 30px;

    @include maxwidth(1170px) {
        padding: 0 70px;
    }

    @include maxwidth(895px) {
        flex-wrap: wrap;
    }

    @include maxwidth(540px) {
        padding: 0 40px;
    }

}

.instructions__list_items {
    @include maxwidth(895px) {
        display: flex;
        gap: 79px;
        align-items: center;
    }

    @include maxwidth(426px) {
        display: flex;
        flex-direction: column;
        gap: 0px
    }
}

.instructions__icon1 {
    @include instructions-oval;
    background-image: url("../images/instructions-icon1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__icon2 {
    @include instructions-oval;
    background-image: url("../images/instructions-icon2.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.instructions__icon3 {
    @include instructions-oval;
    background-image: url("../images/instructions-icon3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.instructions__list_items h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;

    margin-top: 40px;
    margin-bottom: 27px;

    @include maxwidth(426px) {
        text-align: center;
    }
}

.instructions__list_items p {
    font-family: 'Lexend Deca';
    font-style: normal;
    max-width: 350px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;

    @include maxwidth(895px) {
        max-width: 398px;
    }

    @include maxwidth(426px) {
        text-align: center;
    }
}
